<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="site-title">
        <h1 class="title is-4"><a class="" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <h4>{{ .Site.Params.Info.description }}</h4>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{- range $platform, $username := .Site.Params.social -}}
          {{- if $username -}}
            <a class="level-item" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </nav>
  </div>
</section>
